[project]
name = "cloudai"
version = "0.6"
dependencies = [
    "bokeh==3.4.1",
    "pandas==2.2.1",
    "tbparse==0.0.8",
    "toml==0.10.2",
]

[project.scripts]
cloudai = "cloudai.__main__:main"

[tool.ruff]
target-version = "py39"
line-length = 120

[tool.ruff.lint]
select = ["I", "B", "E", "F", "SIM", "W", "C90", "EXE"]

[tool.ruff.format]
indent-style = "space"

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]
