bokeh==3.4.1
pandas==2.2.1
tbparse==0.0.8
toml==0.10.2
kubernetes==30.1.0
pydantic==2.8.2
jinja2==3.1.6
websockets==15.0.1
google-api-python-client==1.12.0
google-auth==2.71.0
google-auth-httplib2==0.12.0
google-auth-oauthlib==1.2.0
