# SPDX-FileCopyrightText: NVIDIA CORPORATION & AFFILIATES
# Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name = "ucc_test"

# [[Tests]]
# id = "Tests.alltoall"
# test_name = "ucc_base_test"
# description = "UCC alltoall"
# time_limit = "00:20:00"
# num_nodes = 2
#   [Tests.cmd_args]
#   collective = "alltoall"

# [[Tests]]
# id = "Tests.allgather"
# test_name = "ucc_base_test"
# description = "UCC allgather"
# time_limit = "00:20:00"
# num_nodes = 2
#   [Tests.cmd_args]
#   collective = "allgather"
#   [[Tests.dependencies]]
#   type = "start_post_comp"
#   id = "Tests.alltoall"

# [[Tests]]
# id = "Tests.allreduce"
# test_name = "ucc_base_test"
# description = "UCC allreduce"
# time_limit = "00:20:00"
# num_nodes = 2
#   [Tests.cmd_args]
#   collective = "allreduce"
#   e = "4G"
#   [[Tests.dependencies]]
#   type = "start_post_comp"
#   id = "Tests.allgather"

# [[Tests]]
# id = "Tests.reduce_scatter"
# test_name = "ucc_base_test"
# description = "UCC reduce_scatter"
# time_limit = "00:20:00"
# num_nodes = 2
#   [Tests.cmd_args]
#   collective = "reduce_scatter"
#   [[Tests.dependencies]]
#   type = "start_post_comp"
#   id = "Tests.allreduce"

[[Tests]]
id = "Tests.alltoallv"
test_name = "ucc_gen_test"
description = "UCC alltoallv"
time_limit = "00:20:00"
num_nodes = 2
  [Tests.cmd_args]
  collective = "alltoallv"
  gen = "file:name=/opt/hpcx/ucc/tools/perf/generator/examples/intput_matrices.txt"