<html>
    <head>
        <title>{{ name }}</title>
    </head>
    <body>
        <h1>{{ name }}</h1>
    </body>
    <table>
        <tr>
            <th>Test</th>
            <th>Description</th>
            <th>Results</th>
            <th>Nodes</th>
        </tr>
        {% for item in report_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            {% if item.logs_path %}
                <td><a href="{{ item.logs_path }}">logs</a></td>
            {% else %}
            <td>no logs</td>
            {% endif %}
            <td>{{ item.nodes }}</td>
        </tr>
        {% endfor %}
    </table>
</html>
