#
# Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name = "nccl-test"

[Tests.1]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"

[Tests.2]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.2.dependencies]
    start_post_comp = { name = "Tests.1", time = 0 }

[Tests.3]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.3.dependencies]
    start_post_comp = { name = "Tests.2", time = 0 }

[Tests.4]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.4.dependencies]
    start_post_comp = { name = "Tests.3", time = 0 }

[Tests.5]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.5.dependencies]
    start_post_comp = { name = "Tests.4", time = 0 }

[Tests.6]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.6.dependencies]
    start_post_comp = { name = "Tests.5", time = 0 }

[Tests.7]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.7.dependencies]
    start_post_comp = { name = "Tests.6", time = 0 }

[Tests.8]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.8.dependencies]
    start_post_comp = { name = "Tests.7", time = 0 }

[Tests.9]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.9.dependencies]
    start_post_comp = { name = "Tests.8", time = 0 }

[Tests.10]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.10.dependencies]
    start_post_comp = { name = "Tests.9", time = 0 }

[Tests.11]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.11.dependencies]
    start_post_comp = { name = "Tests.10", time = 0 }

[Tests.12]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.12.dependencies]
    start_post_comp = { name = "Tests.11", time = 0 }

[Tests.13]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.13.dependencies]
    start_post_comp = { name = "Tests.12", time = 0 }

[Tests.14]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.14.dependencies]
    start_post_comp = { name = "Tests.13", time = 0 }

[Tests.15]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.15.dependencies]
    start_post_comp = { name = "Tests.14", time = 0 }

[Tests.16]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.16.dependencies]
    start_post_comp = { name = "Tests.15", time = 0 }

[Tests.17]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.17.dependencies]
    start_post_comp = { name = "Tests.16", time = 0 }

[Tests.18]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.18.dependencies]
    start_post_comp = { name = "Tests.17", time = 0 }

[Tests.19]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.19.dependencies]
    start_post_comp = { name = "Tests.18", time = 0 }

[Tests.20]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.20.dependencies]
    start_post_comp = { name = "Tests.19", time = 0 }

[Tests.21]
  name = "nccl_test_all_reduce"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.21.dependencies]
    start_post_comp = { name = "Tests.20", time = 0 }

[Tests.22]
  name = "nccl_test_all_gather"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.22.dependencies]
    start_post_comp = { name = "Tests.21", time = 0 }

[Tests.23]
  name = "nccl_test_reduce_scatter"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.23.dependencies]
    start_post_comp = { name = "Tests.22", time = 0 }

[Tests.24]
  name = "nccl_test_alltoall"
  num_nodes = "2"
  time_limit = "00:20:00"
  [Tests.24.dependencies]
    start_post_comp = { name = "Tests.23", time = 0 }
